<!doctype html>
<html lang="en">
<head>
<title>My first Tori app</title>
<style>body{font-family:'Helvetica','Arial',sans-serif;}</style>
</head>
<body>
<h1>It just works!</h1>
<p>Powered by Tori Framework</p>

{{ app.session('access_token') }}

{% if app.session('user') %}
    {% set user=app.session('user') %}

    <table>
        {% for k in user %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ user[k] }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ repositories }}
{% endif %}

</body>
</html>