{% extends 'base.html' %}
{% block body %}
    {% if core.user %}
        <section class="project-list">
            <ul>
                {% for repo in repositories %}
                    <li>
                        <a href="/{{ repo.owner.login}}/{{ repo.name }}">{{ repo.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% else %}
        <h1>Not authenticated</h1>
        <p><a class="btn" href="/login">Login with GitHub Account</a></p>
    {% endif %}
{% endblock %}