<?xml version="1.0" encoding="utf-8"?>
<application>
    <include src="base.xml"/> <!-- include from other configuration files -->
    <server>
        <debug>true</debug>
        <port>8000</port>
    </server>
    <routes>
        <resource location="resources/css" pattern="/css/(.+)"/>
        <resource location="resources/js" pattern="/js/(.+)"/>
        <resource location="resources/image" pattern="/image/(.+)"/>
        <resource location="resources/vendor/bootstrap" pattern="/v/b/(.+)"/>
        <!-- VENDOR/FOUNDATION -->
        <!-- VENDOR/FOUNDATION-ICON -->
    </routes>
    <service>services/common.xml</service>
    <service>services/collections.xml</service>
    <service>services/api.xml</service>
</application>
